# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.coverage
.pytest_cache/
.mypy_cache/
.ruff_cache/

# IDE
.idea/
.vscode/

# Molecule
.molecule/
molecule/*/instance_config.yml

# OS
.DS_Store
